:root {
    --color-ground: #444;
    --color-even: #eec;
    --color-odd: #c24;
}

html,
body,
#app {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.ground {
    fill: var(--color-ground);
}

.even {
    fill: var(--color-even);
}

.odd {
    fill: var(--color-odd);
}
